<div class ="row">
    <div class="col-sm-9">

        <h2>
            <i class="fas fa-calendar-alt"></i>
            <%= @event[:date] %>
        </h2>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>
        <div class="media">
            <i class="fas fa-thumbs-up"></i>
            <div class="media-body">
                <h5 class="mt-0">Jenny</h5>
                Wouldn't miss it!
            </div>
        </div>
        <button type="button" class="btn btn-primary">RSVP Now!</button>
        
    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @event[:date] %></p>
        <h3>Where?</h3>
        <p><%= @event[:location] %></p>
        <h3>How many guests so far?</h3>
        <p>???</p>